<form [formGroup]="companyForm">
    <div class="form-group">
        <label>Company name</label>
        <input class="form-control" formControlName="companyName" placeholder="Enter company name">
        <small class="text-danger" *ngIf="isValid('companyName','required')">
            Please enter company name.
        </small>
    </div>
    <div class="form-group">
        <label>Logo</label>
        <input class="form-control" formControlName="logo" placeholder="Enter logo">
        <small class="text-danger" *ngIf="isValid('logo','required')">
            Please enter logo.
        </small>
    </div>
    <button (click)="submit()" [disabled]="companyForm.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>